@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@300;400;500;600;700;800;900&display=swap");

@layer base {
  body {
    @apply font-[Raleway];
  }
}

.green {
  background: #5ac85a;
  border-color: #5ac85a;
}

.grey {
  background: #a1a1a1;
  border-color: #a1a1a1;
}

.yellow {
  background: #e2cc68;
  border-color: #e2cc68;
}
